openapi: 3.2.0
info:
  description: Employer APIs
  version: v1
  title: Swagger spec for Work Market API v1 Custom Fields API
  termsOfService: https://developer.workmarket.com/tos
  contact:
    name: Work Market API Team
    url: https://developer.workmarket.com
    email: api@workmarket.com
  license:
    name: Company Licence
    url: https://developer.workmarket.com/licenses/LICENSE-2.0.html
servers:
- url: https://www.workmarket.com/
tags:
- name: Custom Fields
paths:
  /v1/api/assignments/customfields/list:
    get:
      tags:
      - Custom Fields
      summary: List custom fields
      description: ''
      operationId: list
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/v1Meta'
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomFieldGroup'
components:
  schemas:
    CustomFieldGroup:
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        name:
          type: string
          readOnly: true
        fields:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/CustomField'
        required:
          type: boolean
          readOnly: true
    CustomField:
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        name:
          type: string
          readOnly: true
        default:
          type: string
          readOnly: true
        required:
          type: boolean
          readOnly: true
        value:
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
    v1Meta:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
        status_code:
          type: integer
          format: int32
        version:
          type: integer
          format: int32
        requestId:
          type: string
        execution_time:
          type: number
          format: double
        timestamp:
          type: integer
          format: int64
