swagger: '2.0'
info:
  description: Employer APIs
  version: v1
  title: Swagger spec for Work Market API v1 Addressbook Labels API
  termsOfService: https://developer.workmarket.com/tos
  contact:
    name: Work Market API Team
    url: https://developer.workmarket.com
    email: api@workmarket.com
  license:
    name: Company Licence
    url: https://developer.workmarket.com/licenses/LICENSE-2.0.html
host: www.workmarket.com
basePath: /
schemes:
- https
tags:
- name: Labels
paths:
  /v1/employer/assignments/labels/add:
    post:
      tags:
      - Labels
      summary: Add labels to assignment
      description: ''
      operationId: addPostAction
      parameters:
      - name: id
        in: query
        required: false
        type: string
      - name: substatus_id
        in: query
        required: false
        type: integer
        format: int64
      - name: note
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/v1Meta'
              response:
                $ref: '#/definitions/v1Status'
  /v1/employer/assignments/labels/list:
    get:
      tags:
      - Labels
      summary: List labels
      description: ''
      operationId: listAssignmentLablesAction
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/v1Meta'
              response:
                type: array
                items:
                  $ref: '#/definitions/ListLabel'
  /v1/employer/assignments/labels/remove:
    post:
      tags:
      - Labels
      summary: Remove label from assignment
      description: ''
      operationId: removePostAction
      parameters:
      - name: id
        in: query
        required: false
        type: string
      - name: substatus_id
        in: query
        required: false
        type: integer
        format: int64
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/v1Meta'
              response:
                $ref: '#/definitions/v1Status'
definitions:
  v1Status:
    type: object
    properties:
      successful:
        type: boolean
        readOnly: true
  v1Meta:
    type: object
    properties:
      errors:
        type: array
        items:
          type: object
      status_code:
        type: integer
        format: int32
      version:
        type: integer
        format: int32
      requestId:
        type: string
      execution_time:
        type: number
        format: double
      timestamp:
        type: integer
        format: int64
  ListLabel:
    type: object
    properties:
      id:
        type: integer
        format: int64
        readOnly: true
      name:
        type: string
        readOnly: true
