openapi: 3.2.0
info:
  description: Employer APIs
  version: v1
  title: Swagger spec for Work Market API v1 Locations API
  termsOfService: https://developer.workmarket.com/tos
  contact:
    name: Work Market API Team
    url: https://developer.workmarket.com
    email: api@workmarket.com
  license:
    name: Company Licence
    url: https://developer.workmarket.com/licenses/LICENSE-2.0.html
servers:
- url: https://www.workmarket.com/
tags:
- name: Locations
paths:
  /v1/employer/crm/locations/list:
    get:
      tags:
      - Locations
      summary: List locations
      description: ''
      operationId: listLocationsAction
      parameters:
      - name: client_id
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/v1Meta'
                  response:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'
components:
  schemas:
    Location:
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
        name:
          type: string
          readOnly: true
        location_number:
          type: string
          readOnly: true
        instructions:
          type: string
          readOnly: true
        address_1:
          type: string
          readOnly: true
        address_2:
          type: string
          readOnly: true
        city:
          type: string
          readOnly: true
        state:
          type: string
          readOnly: true
        zip:
          type: string
          readOnly: true
        country:
          type: string
          readOnly: true
        latitude:
          type: string
          readOnly: true
        longitude:
          type: string
          readOnly: true
    v1Meta:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
        status_code:
          type: integer
          format: int32
        version:
          type: integer
          format: int32
        requestId:
          type: string
        execution_time:
          type: number
          format: double
        timestamp:
          type: integer
          format: int64
