swagger: '2.0'
info:
  description: Employer APIs
  version: v1
  title: Swagger spec for Work Market API v1 Addressbook Projects API
  termsOfService: https://developer.workmarket.com/tos
  contact:
    name: Work Market API Team
    url: https://developer.workmarket.com
    email: api@workmarket.com
  license:
    name: Company Licence
    url: https://developer.workmarket.com/licenses/LICENSE-2.0.html
host: www.workmarket.com
basePath: /
schemes:
- https
tags:
- name: Projects
paths:
  /v1/employer/projects/add:
    post:
      tags:
      - Projects
      summary: Create project
      description: ''
      operationId: addProjectAction
      parameters:
      - name: client_id
        in: query
        required: false
        type: integer
        format: int64
      - name: name
        in: query
        required: false
        type: string
      - name: description
        in: query
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/v1Meta'
              response:
                $ref: '#/definitions/AddProjectResponse'
  /v1/employer/projects/list:
    get:
      tags:
      - Projects
      summary: List projects
      description: ''
      operationId: listProjectsAction
      parameters:
      - name: client_id
        in: query
        required: false
        type: integer
        format: int64
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/v1Meta'
              response:
                type: array
                items:
                  $ref: '#/definitions/Project'
definitions:
  Project:
    type: object
    properties:
      id:
        type: integer
        format: int64
        readOnly: true
      name:
        type: string
        readOnly: true
  AddProjectResponse:
    type: object
    properties:
      successful:
        type: boolean
        readOnly: true
      id:
        type: integer
        format: int64
        readOnly: true
  v1Meta:
    type: object
    properties:
      errors:
        type: array
        items:
          type: object
      status_code:
        type: integer
        format: int32
      version:
        type: integer
        format: int32
      requestId:
        type: string
      execution_time:
        type: number
        format: double
      timestamp:
        type: integer
        format: int64
